$niebieski-0: #daf5f0;
$niebieski-1: #a7dbd8;
$niebieski-2: #87ceeb;
$niebieski-3: #69d2e7;

$zielony-0: #b5d2ad;
$zielony-1: #bafca2;
$zielony-2: #90ee90;
$zielony-3: #7fbc8c;

$zolty-0: #fdfd96;
$zolty-1: #ffdb58;
$zolty-2: #f4d738;
$zolty-3: #e3a018;

$czerwony-0: #f8d6b3;
$czerwony-1: #ffa07a;
$czerwony-2: #ff7a5c;
$czerwony-3: #ff6b6b;

$roz-0: #fcdfff;
$roz-1: #ffc0cb;
$roz-2: #ffb2ef;
$roz-3: #ff69b4;

$fiolet-0: #e3dff2;
$fiolet-1: #c4a1ff;
$fiolet-2: #a388ee;
$fiolet-3: #9723c9;

